#container {
    display: grid;
    background-color: blue;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    border: solid;
    border-color: black;
}

.square {
    background-color: white;
    
}

.pen {
    background-color: pink;
}-

#menu {
    width: 200px;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;

}

button{

}